@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$green-palette,
  )
));

html {
  @include mat.all-component-themes($theme);
}

.demo-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}
